In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import mysql.connector
import pandas as pd
import numpy as np

import mysql.connector
import pandas as pd

# MySQL 연결 설정
cnx = mysql.connector.connect(
    host='',
    user='',
    password='',
    database='ball_movement'
)

# 쿼리 생성
query_events_df = "SELECT * FROM events_df"
query_events_df_bounce = "SELECT * FROM events_df_bounce"
query_events_df_net = "SELECT * FROM events_df_net"

# DataFrame으로 읽기
events_df = pd.read_sql(query_events_df, con=cnx)
events_df_bounce = pd.read_sql(query_events_df_bounce, con=cnx)
events_df_net = pd.read_sql(query_events_df_net, con=cnx)

# 연결 종료 (선택적)
cnx.close()

events_df에 앞서서 얻은 net와 bounce 관련 데이터들을 통합합니다.

In [3]:
import pandas as pd
 
events_df = events_df.merge(events_df_net[['frame', 'height']], on='frame', how='left')
events_df = events_df.merge(events_df_bounce[['frame', 'bounce']], on='frame', how='left')

events_df.head()

   index  frame     x    y   event    player  height bounce
0      0     18   566  200  bounce  player_A     NaN   left
1      1     33   897  228     net  player_A    0.66    NaN
2      2     44   500  138  bounce  player_A     NaN  right
3      3   2192  1305  110  bounce  player_B     NaN   left
4      4   2211   889  240     net  player_B    0.69    NaN

In [4]:
 # mysql로 보내기

from sqlalchemy import create_engine
 
db_connection_path = ''
db_connection = create_engine(db_connection_path)

conn = db_connection.connect()

events_df.to_sql('events_df', con = db_connection, if_exists= 'replace')

335